# General
obj
.build
*.exe
*.vendor
.temp/

# clang
.cache
compile_commands.json

# C
*.out

# Scons
.sconsign.dblite

# Zig
zig-cache
.zig-cache
zig-out

# Godot
.godot
/android/

# Puzzles (AOC/Leetcode/etc.)
.input

# Graphics/Shader
*.spv
